## Last commit: 2020-04-24 16:04:52 ICT by tcsadmin
version 12.3R6.6;
system {
    host-name Core_Bldg.14FL_FL.1_Control-Room;
    auto-snapshot;
    time-zone Asia/Bangkok;
    root-authentication {
        encrypted-password "$1$4UUrX63q$OdWtXOtG5texaDLVVxneY."; ## SECRET-DATA
    }
    login {
        user tcsadmin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$uhDtPxAp$v8PUaDpTDJbcUzY57N50D1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        web-management {
            https {
                system-generated-certificate;
            }
        }
        dhcp {
            traceoptions {
                file dhcp_logfile;
                level all;
                flag all;
            }
            pool 10.17.11.0/24 {
                address-range low 10.17.11.50 high 10.17.11.254;
                name-server {
                    10.35.201.2;
                    10.35.201.3;
                }
                router {
                    10.17.11.1;
                }
            }
            pool 10.17.32.0/24 {
                address-range low 10.17.32.50 high 10.17.32.254;
                name-server {
                    10.35.201.2;
                    10.35.201.3;
                }
                router {
                    10.17.32.1;
                }
            }
            pool 10.17.100.0/24 {
                address-range low 10.17.100.50 high 10.17.100.254;
                name-server {
                    10.35.201.2;
                    10.35.201.3;
                }
                router {
                    10.17.100.1;
                }
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.35.221.50 {
            any notice;
            port 11514;
            source-address 10.17.1.1;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        boot-server 10.15.200.18;
        peer 10.35.200.18;
        server 10.35.200.18 prefer;
        server 10.15.200.18;
    }
}
chassis {
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
    auto-image-upgrade;
}
interfaces {
    ge-0/0/0 {
        description Bldg.14F_Rack.1_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_Online Bldg.14FL_MGNT Bldg.14FL_Telephone_MGNT Bldg.14FL_Telephone_FL.1 Bldg.14FL_Time-Access Bldg.14FL_Telephone_1 Bldg.14FL_FMIS KIOSK-Bldg14 Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW PX_Time_Access Bldg.14F_Internet Bldg14-FL-All-Carl-Zeiss PX-FL-ALL-NET-AIS PX_Cradit-Card ];
                }
            }
        }
    }
    xe-0/0/0 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/1 {
        description Bldg.14F_Rack.1_B;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_Online Bldg.14FL_MGNT Bldg.14FL_Telephone_MGNT Bldg.14FL_Telephone_FL.1 Bldg.14FL_Time-Access Bldg.14FL_Telephone_1 Bldg.14FL_FMIS KIOSK-Bldg14 Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW Bldg.14F_Internet Bldg14-FL-All-Carl-Zeiss PX-FL-ALL-NET-AIS PX_Cradit-Card ];
                }
            }
        }
    }
    xe-0/0/1 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/2 {
        description Bldg.14F_Rack.M_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_MGNT Bldg.14FL_Telephone_1 Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW Bldg.14FL_Online Bldg.14F_Internet PX-FL-ALL-NET-AIS Bldg14-FL-M-HIS ];
                }
            }
        }
    }
    xe-0/0/2 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/3 {
        description Bldg.14F_Rack.M_B;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ Bldg.14FL_MGNT Bldg.14FL_Online Bldg.14F_Internet PX-FL-ALL-NET-AIS Bldg14-FL-M-HIS ];
                }
            }
        }
    }
    xe-0/0/3 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/4 {
        description Bldg.14F_Rack.2_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_Online Bldg.14FL_MGNT Bldg.14FL_FMIS Fmis-HRMI_Buliding14 Bldg.14F_Internet Bldg.14FL_Online-NEW Bldg14-FL-All-Carl-Zeiss PX-FL-ALL-NET-AIS ];
                }
            }
        }
    }
    xe-0/0/4 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/5 {
        description Bldg.14F_Rack.3_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_Online Bldg.14FL_MGNT Colo_Streaming Colo_Data Bldg.14FL_Telephone_MGNT Bldg.14FL_Telephone_FL.3 Bldg.14FL_Telephone_1 Bldg.14FL_FMIS Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW Colo_Data_2 Bldg.14F_Internet PX-FL-ALL-NET-AIS PX-FL-ALL-POCT ];
                }
            }
        }
    }
    xe-0/0/5 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/6 {
        description Bldg.14F_Rack.4_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_Online Bldg.14FL_MGNT Bldg.14FL_Telephone_MGNT Bldg.14FL_Telephone_1 Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW Bldg.14F_Internet PX-FL-ALL-NET-AIS ];
                }
            }
        }
    }
    xe-0/0/6 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/7 {
        description Bldg.14F_Rack.5_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ Bldg.14FL_Online Bldg.14FL_MGNT Bldg.14FL_Telephone_1 Bldg.14FL_Time-Access Bldg.14FL_FMIS Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW PX_Time_Access Bldg.14F_Internet PX-FL-ALL-NET-AIS Bldg14-FL-All-Sleep-Center ];
                }
            }
        }
    }
    xe-0/0/7 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/8 {
        description Bldg.14F_Rack.6_A;
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ default Bldg.14FL_Online Bldg.14FL_MGNT Bldg.14FL_Telephone_1 Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW Bldg.14F_Internet PX-FL-ALL-NET-AIS PX_Cradit-Card PX-FL-ALL-POCT ];
                }
            }
        }
    }
    xe-0/0/8 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/9 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/9 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/10 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/10 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/11 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/11 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/12 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/12 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/13 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/13 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/14 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/14 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/15 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/15 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/16 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/16 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/17 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/17 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/18 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/18 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/19 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/19 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/20 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/20 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/21 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/21 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/22 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/22 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/23 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/23 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/24 {
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ Bldg.14FL_MGNT Bldg.14FL_Online-NEW ];
                }
            }
        }
    }
    xe-0/0/24 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/25 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/25 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/26 {
        disable;
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/26 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/27 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/27 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/28 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/28 {
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members vlan207;
                }
            }
        }
    }
    ge-0/0/29 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/0/29 {
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members vlan208;
                }
            }
        }
    }
    ge-0/0/30 {
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ Bldg.14FL_Telephone Bldg.14FL_MGNT Bldg.14FL_Online CUH-Wifi Colo_Streaming default Bldg.14FL_Time-Access Colo_Data Bldg.14FL_Telephone_1 Bldg.14FL_Telephone_FL.3 Bldg.14FL_Telephone_FL.1 Bldg.14FL_Telephone_MGNT Bldg.14FL_Telephone_Server KIOSK-Bldg14 Bldg.14FL_Online-NEW Bldg.14F_Internet ];
                }
            }
        }
    }
    xe-0/0/30 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/0/31 {
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ Bldg.14FL_Telephone Bldg.14FL_MGNT CUH-Wifi Colo_Streaming default Bldg.14FL_Time-Access Colo_Data Bldg.14FL_Telephone_1 Bldg.14FL_Telephone_FL.3 Bldg.14FL_Telephone_FL.1 Bldg.14FL_Telephone_MGNT Bldg.14FL_Telephone_Server Sleep_Test Bldg.14FL_FMIS Fmis-HRMI_Buliding14 Bldg.14FL_Online-NEW PX-FL-ALL-NET-AIS ];
                }
            }
        }
    }
    xe-0/0/31 {
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ Bldg.14FL_Telephone Bldg.14FL_MGNT Bldg.14FL_Online CUH-Wifi Colo_Streaming default Bldg.14FL_Time-Access Colo_Data Bldg.14FL_Telephone_1 Bldg.14FL_Telephone_FL.3 Bldg.14FL_Telephone_FL.1 Bldg.14FL_Telephone_MGNT ];
                }
            }
        }
    }
    ge-0/1/0 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/0 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/1 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/1 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/2 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/2 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/3 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/3 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/4 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/4 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/5 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/5 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/6 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/6 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/1/7 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/7 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/0 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/0 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/1 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/1 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/2 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/2 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/3 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/3 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/4 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/4 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/5 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/5 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/6 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/6 {
        unit 0 {
            family ethernet-switching;
        }
    }
    ge-0/2/7 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/2/7 {
        unit 0 {
            family ethernet-switching;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.17.1.1/32;
            }
        }
    }
    vlan {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-ex4550-32f;
                }
            }
        }
        unit 140 {
            family inet {
                address 10.140.1.1/24;
            }
        }
        unit 141 {
            family inet {
                address 10.17.140.1/22;
            }
        }
        unit 148 {
            family inet;
        }
        unit 151 {
            family inet {
                address 10.140.151.254/24;
            }
        }
        unit 207 {
            family inet {
                address 10.35.2.26/30;
            }
        }
        unit 208 {
            family inet {
                address 10.35.2.30/30;
            }
        }
        unit 325 {
            family inet {
                address 10.17.25.1/24;
            }
        }
        unit 331 {
            family inet {
                address 10.17.11.1/24;
            }
        }
        unit 332 {
            family inet {
                address 10.17.32.1/24;
            }
        }
        unit 334 {
            family inet {
                address 10.17.34.1/24;
            }
        }
        unit 340 {
            family inet {
                address 10.17.40.1/24;
            }
        }
        unit 380 {
            family inet {
                address 10.17.80.1/24;
            }
        }
        unit 381 {
            description PX-FL-ALL-POCT;
            family inet {
                address 10.17.81.1/24;
            }
        }
        unit 390 {
            family inet {
                address 10.17.90.1/24;
            }
        }
        unit 400 {
            family inet {
                address 10.17.100.1/24;
            }
        }
        unit 444 {
            family inet {
                address 10.17.144.1/24;
            }
        }
        unit 510 {
            family inet {
                address 10.17.210.1/24;
            }
        }
    }
    vme {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-ex4550-32f;
                }
            }
        }
    }
}
snmp {
    community public {
        authorization read-only;
    }
    community chulahosp {
        authorization read-only;
    }
}
forwarding-options {
    helpers {
        bootp {
            interface {
                vlan.141 {
                    server 10.35.200.18;
                    server 10.15.200.18;
                }
                vlan.390 {
                    server 10.15.200.18;
                    server 10.35.200.18;
                }
                vlan.325 {
                    server 10.15.200.18;
                    server 10.35.200.18;
                }
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.140.151.1;
    }
    router-id 10.17.1.1;
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface vlan.208 {
                interface-type p2p;
            }
            interface vlan.207 {
                interface-type p2p;
            }
        }
        area 0.0.0.17 {
            interface lo0.0 {
                passive;
            }
            interface vlan.334 {
                passive;
            }
            interface vlan.332 {
                passive;
            }
            interface vlan.331 {
                passive;
            }
            interface vlan.340 {
                passive;
            }
            interface vlan.140 {
                passive;
            }
            interface vlan.141 {
                passive;
            }
            interface vlan.444 {
                passive;
            }
            interface vlan.380 {
                passive;
            }
            interface vlan.390 {
                passive;
            }
            interface vlan.510 {
                passive;
            }
            interface vlan.381 {
                passive;
            }
            interface vlan.325 {
                passive;
            }
        }
    }
    igmp-snooping {
        vlan all;
    }
    dcbx {
        interface all;
    }
    rstp {
        disable;
    }
    vstp {
        vlan Bldg.14FL_Online {
            bridge-priority 12k;
        }
        vlan Bldg.14FL_Online-NEW {
            bridge-priority 12k;
        }
        vlan Bldg.14F_Internet {
            bridge-priority 12k;
        }
        vlan Bldg14-FL-All-Carl-Zeiss {
            bridge-priority 0;
        }
        vlan Bldg14-FL-M-HIS {
            bridge-priority 12k;
        }
        vlan KIOSK-Bldg14 {
            bridge-priority 12k;
        }
        vlan PX-FL-ALL-NET-AIS {
            bridge-priority 4k;
        }
        vlan PX-FL-ALL-POCT {
            bridge-priority 12k;
        }
        vlan PX_Cradit-Card {
            bridge-priority 4k;
        }
        vlan all;
    }
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
    sflow {
        polling-interval 20;
        sample-rate {
            ingress 1000;
            egress 1000;
        }
        collector 10.225.250.254;
    }
}
ethernet-switching-options {
    secure-access-port {
        vlan Bldg.14F_Internet {
            examine-dhcp;
        }
    }
    storm-control {
        interface all;
    }
}
vlans {
    Bldg.14-FL-M-HIS;
    Bldg.14FL_FMIS {
        vlan-id 1293;
    }
    Bldg.14FL_Internet;
    Bldg.14FL_MGNT {
        vlan-id 151;
        l3-interface vlan.151;
    }
    Bldg.14FL_Online {
        vlan-id 140;
        l3-interface vlan.140;
    }
    Bldg.14FL_Online-NEW {
        vlan-id 331;
        l3-interface vlan.331;
    }
    Bldg.14FL_Telephone {
        vlan-id 180;
    }
    Bldg.14FL_Telephone_1 {
        vlan-id 200;
    }
    Bldg.14FL_Telephone_FL.1 {
        vlan-id 181;
    }
    Bldg.14FL_Telephone_FL.3 {
        vlan-id 183;
    }
    Bldg.14FL_Telephone_MGNT {
        vlan-id 152;
    }
    Bldg.14FL_Telephone_Server {
        vlan-id 199;
    }
    Bldg.14FL_Time-Access {
        vlan-id 201;
    }
    Bldg.14F_Internet {
        vlan-id 141;
        l3-interface vlan.141;
    }
    Bldg14-FL-All-Carl-Zeiss {
        vlan-id 444;
        l3-interface vlan.444;
    }
    Bldg14-FL-All-Sleep-Center {
        vlan-id 510;
        l3-interface vlan.510;
    }
    Bldg14-FL-M-HIS {
        vlan-id 325;
        l3-interface vlan.325;
    }
    CUH-Wifi {
        vlan-id 1100;
    }
    Colo_Data {
        vlan-id 142;
    }
    Colo_Data_2 {
        vlan-id 400;
    }
    Colo_Streaming {
        vlan-id 143;
    }
    Fmis-HRMI_Buliding14 {
        vlan-id 332;
        l3-interface vlan.332;
    }
    KIOSK-Bldg14 {
        vlan-id 334;
        l3-interface vlan.334;
    }
    NM_Time_Access;
    PX-FL-ALL-NET-AIS {
        vlan-id 390;
        l3-interface vlan.390;
    }
    PX-FL-ALL-POCT {
        vlan-id 381;
        l3-interface vlan.381;
    }
    PX_Cradit-Card {
        vlan-id 380;
        l3-interface vlan.380;
    }
    PX_Time_Access {
        vlan-id 340;
        l3-interface vlan.340;
    }
    Sleep_Test {
        vlan-id 4000;
    }
    default {
        vlan-id 1;
    }
    vlan207 {
        vlan-id 207;
        l3-interface vlan.207;
    }
    vlan208 {
        vlan-id 208;
        l3-interface vlan.208;
    }
}
{master:0}